/* Définition de la section des réalisations */
.gallery-section {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin: 120px;
}

/* Style des articles de la section des réalisations */
.gallery-section article {
    max-width: 350px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 500ms;
}

/* Style des articles de la section des réalisations lors du survol  */
.gallery-section article:hover {
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);
}

/* Style des liens dans la section des réalisations  */
.gallery-section a {
    cursor: pointer;
}

/* Style des images dans la section des réalisations  */
.gallery-section img,
.gallery-section video {
    height: 300px;
    width: 350px;
    border-radius: 5px;
    object-fit: cover;
}

/* Style des paragraphes dans la section des réalisations  */
.gallery-section img {
    border-radius: 5px 5px 0 0;
}

/* Style des conteneurs pour les icônes dans la section des réalisations  */
.gallery-section p {
    display: flex;
    justify-content: space-between;
    color: #901c1c;
    font-size: 24px;
    margin: 10px;
}

/* Style des icônes dans la section des réalisations */
.gallery-section span,
.gallery-section i {
    display: flex;
    align-items: center;
}

/* Style des icônes dans la section des réalisations  */
.gallery-section i {
    padding: 5px;
    transition: transform 250ms, background-color 250ms;
}

/* Style des icônes dans la section des réalisations lors du survol */
.gallery-section i:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #f2f2f2;
}