#contact_modal {
  display: none;
}

/* PHOTOGRAPH HEADER */

.photograph-header {
  background-color: white;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
  height: 300px;
  margin: 0 100px;
}
  
.photograph-header article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 40px;
}
  
.photograph-header article * {
  line-height: 1.8;
  margin: 0;
}
  
.photograph-header article img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
  transition: all 500ms;
}
  
.photograph-header article h1 {
  color: #db8876;
  font-size: 64px;
}
  
.photograph-header article span {
  color: #901c1c;
  font-size: 24px;
}

/* CONTACT HEADER */

.contact_button {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1000ms;
}

.contact_button:hover {
  color: black;
  background-color: #d3573c;
}

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}