
body {
    font-family: "DM Sans", sans-serif;
    background: #f5f5f5;
    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #d3573c;
    margin-right: 45px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 50px;
}

.photographer_section article {
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;

}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    transition: all 500ms;
    object-fit: cover;
}

.photographer_section article p {
    line-height: 1.5;
    text-align: center;
    margin: 0;
}

.photographer_section article span {
    color: #901c1c;
    font-weight: 500;
}

.photographer_section article a {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 0px
}

#contact_modal {
    display: none;
  }
  
  /* PHOTOGRAPH HEADER */
  
  .photograph-header {
    background-color: white;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
    height: 300px;
    margin: 0 100px;
  }
  
  .photograph-header article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 40px;
  }
  
  .photograph-header article * {
    line-height: 1.8;
    margin: 0;
  }
  
  .photograph-header article img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
    transition: all 500ms;
  }
  
  .photograph-header article h1 {
    color: #db8876;
    font-size: 64px;
  }
  
  .photograph-header article span {
    color: #901c1c;
    font-size: 24px;
  }
  
  /* CONTACT BUTTON HEADER */
  
  .contact_button {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1000ms;
  }
  
  .contact_button:hover {
    color: black;
    background-color: #d3573c;
  }
  
  #contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
  }
  
  /* Styles pour la boîte de dialogue */
  .modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 50px auto;
  }
  
  /* Styles pour l'en-tête de la boîte de dialogue */
  .modal header {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }
  
  .modal header img {
    cursor: pointer;
  }
  
  .modal header h2 {
    font-size: 60px;
    font-weight: normal;
    margin: 0 0 15px 0;
  }
  
  /* Classe pour désactiver le défilement de la page */
  .no-scroll {
    overflow: hidden;
  }
  
  /* Styles pour le formulaire */
  form {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  
  form label {
    color: #312e2e;
    font-size: 36px;
  }
  
  form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
  }
  
  form .text-control {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
  }
  
  form input {
    font-size: 24px;
  }
  
  form #request {
    height: 120px;
    font-size: 24px;
  }
  
  /* Styles pour l'affichage des messages d'erreur */
  .form-data::after {
    content: attr(data-error);
    font-size: 24px;
    color: #901c1c;
    display: block;
    margin-bottom: 10px;
    float: right;
    line-height: 1;
    opacity: 0;
    transition: 0.3s;
  }
  
  .form-data[data-visible="true"]::after {
    opacity: 1;
  }
  
  .form-data[data-visible="true"] .text-control {
    border: 2px solid #901c1c;
  }
  
  /* Styles pour la carte de coût */
  .sticky-price-tag {
    position: sticky;
    bottom: 0;
    background: #db8876;
    float: right;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
    margin: 0 25px;
    min-width: 350px;
  }
  
  .sticky-price-tag p {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  /* Styles pour le champ de remerciement */
  .thanks-field {
    display: none;
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 2rem;
  }
  
  /* Classe pour désactiver l'opacité */
  .disabled {
    opacity: 0;
  }



  /* Définition de la section des réalisations */
.gallery-section {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin: 120px;
}

/* Style des articles de la section des réalisations */
.gallery-section article {
    max-width: 350px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 500ms;
}

/* Style des articles de la section des réalisations lors du survol  */
.gallery-section article:hover {
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);
}

/* Style des liens dans la section des réalisations  */
.gallery-section a {
    cursor: pointer;
}

/* Style des images dans la section des réalisations  */
.gallery-section img,
.gallery-section video {
    height: 300px;
    width: 350px;
    border-radius: 5px;
    object-fit: cover;
}

/* Style des paragraphes dans la section des réalisations  */
.gallery-section img {
    border-radius: 5px 5px 0 0;
}

/* Style des conteneurs pour les icônes dans la section des réalisations  */
.gallery-section p {
    display: flex;
    justify-content: space-between;
    color: #901c1c;
    font-size: 24px;
    margin: 10px;
}

/* Style des icônes dans la section des réalisations */
.gallery-section span,
.gallery-section i {
    display: flex;
    align-items: center;
}

/* Style des icônes dans la section des réalisations  */
.gallery-section i {
    padding: 5px;
    transition: transform 250ms, background-color 250ms;
}

/* Style des icônes dans la section des réalisations lors du survol */
.gallery-section i:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #f2f2f2;
}


