@import url("photographer.css");
body {
    font-family: "DM Sans", sans-serif;
    background: #f5f5f5;
    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #d3573c;
    margin-right: 45px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 50px;
}

.photographer_section article {
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;

}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    transition: all 500ms;
    object-fit: cover;
}

.photographer_section article p {
    line-height: 1.5;
    text-align: center;
    margin: 0;
}

.photographer_section article span {
    color: #901c1c;
    font-weight: 500;
}

.photographer_section article a {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 0px
}
